/** normalize.css **/

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

/** Fonts **/

@import url('fonts/InterUI/inter-ui.css');
@import url('fonts/InterUI/zilla-slab.css');

html { font-size: 100% }
@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

body {
    font-family: 'Inter UI', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: "liga" on;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, header, footer ul li a {
    font-family: 'Zilla Slab', Serif;
}

p, ul {
    font-size: 1.25em;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}

svg {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.15em;
}

/** Layout **/

body {
    margin: 0 auto;
}

header, main, article, #calendar, #events {
    padding: 1em 1em;
    max-width: 60em;
    margin: auto;
}

p, ul {
    margin-bottom: 1.75rem;
}
h1 {
    margin-bottom: 3.5rem;
}
h2 {
    margin-bottom: 1.75rem;
}
h3 {
    margin-bottom: 1.25rem;
}

textarea {
    resize: none;
}

/** Colors **/

body {
    color: #555;
}

h1, h2, h3, strong {
    color: #333;
}

/** Header **/

header {
    padding-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

header h1 {
    margin: 0;
    padding: 0.1em 0.4em;
    background-color: #333;
    color: #ff5722;
}
header h1 sup {
    color: #fff;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: end;
    justify-content: space-between;
}

header ul li {
    padding-top: 0.3em;
    padding-left: 1.5em;
}

header ul li a {
    text-decoration: none;
    padding: 0.1em 0.4em;
    background-color: #ff5722;
    color: #fff;
    font-weight: bold;
    font-size: 1.3em;
    font-variant: small-caps;
    letter-spacing: 0.07em;
}

/** Generic pages **/

article a {
    color: #000;
    text-decoration: none;
}
article a:hover {
    text-decoration: underline;
}

/** Calendar **/

#calendar {
    margin-top: 1em;
}

/* Calendar controls */

#calControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#calControls h2 {
    margin: 0;
    font-variant: small-caps;
    letter-spacing: 0.06em;
}

#calControls svg {
    background-color: #ebebeb;
    fill: #ff5722;
}
#calControls svg:hover {
    cursor: pointer;
}

/* Calendar View switcher */

#viewSwitch {
    text-align: center;
    margin-bottom: 2em;
}

#viewSwitch button {
    border: 0.1em solid #ebebeb;
    background: none;
    padding: 0;
    font-size: 1.4em;
}
#viewSwitch span {
    padding: 0.05em 0.4em;
}
#viewSwitch a {
    text-decoration: none;
    color: inherit;
}

[role="switch"][aria-checked="true"] :first-child, 
[role="switch"][aria-checked="false"] :last-child {
    background: #ebebeb;
    color: #ff5722;
}
[role="switch"][aria-checked="true"] :last-child a {
    background: #fff;
    color: #555;
}

/* Days Indicators */

#week {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 1em;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1px; /* ~border collapse~ for CSS Grid */
    
    font-weight: bold;
}
#week .day {
    padding: 0.5em;
}

.dayIndicator {
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

#calContainer .calGrid:first-child div:nth-child(7) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #000;
}

/* Calendar grids */

#calContainer {
    display: flex;
}
.calGrid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 4em);
    grid-gap: 1px; /* ~border collapse~ for CSS Grid */
}
.calGrid div:not(.dayIndicator) {
    padding: 0.5em;
    box-shadow:0 0 0 1px #333; /* ~border collapse~ for CSS Grid */
    font-size: 1.2em;
}

.day sup {
    color: #ff5722;
    font-weight: bold;
}
.current, .active {
    font-weight: bold;
}
.current {
    color: #ff5722;
}
.active, .day:hover {
    background-color: rgba(255, 87, 34, 0.3); /* #ff5722 30% opacity */
}
.nonWorking {
    background-color: #ebebeb;
}
.other, .other:hover, .empty {
    background-color: rgba(235, 235, 235, 0.5); /* #ebebeb 30% opacity */
}

.day:not(.other) {
    cursor: pointer;
}

/* Week layout */

#week .day {
    background: #ebebeb;
}
#week .day sup {
    color: inherit;
} 
#week .day.active, #week .day:hover {
    background-color: rgba(255, 87, 34, 0.3); /* #ff5722 30% opacity */
}
#week > li {
    box-shadow:0 0 0 1px #333; /* ~border collapse~ for CSS Grid */
}
.summary {
    font-size: 0.8em;
    font-weight: normal;
    padding: 0.5em;
}
.summary ul {
    padding-left: 1em;
    margin-bottom: 0;
}
.summary li {
    list-style-type: square;
}
.summary.empty {
    min-height: 1.5em;
}

/** Events list **/

#events h2 {
    text-align: center;
}

.event {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 1fr);
    border-bottom: 1px solid rgba(85, 85, 85, 0.4);
    padding-top: 1em;
}
.event a {
    color: inherit;
    text-decoration: none;
}
.event a:hover {
    text-decoration: underline;
}
#events .event:nth-child(2) {
    padding-top: 0;
}
#events .event:last-child {
    border: none;
}

.desc, .members {
    grid-column: 2 / 3;
}
.desc, .time {
    align-self: last baseline;
}
.time {
    padding-left: 1em;
}
.desc {
    margin: 0;
}
.members {
    margin-top: 0;
    align-self: first baseline;
}

.break {
    background-color: rgba(103, 218, 255, 0.3);
}

/** New event form **/

#newEvent {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#newEvent > * {
    margin-bottom: 2em;
}
#newEvent label {
    justify-self: end;
    padding-right: 1em;
    
    font-size: 1.1em;
    font-weight: bold;
}
#newEvent input, #newEvent textarea {
    justify-self: start;
    padding-right: 1em;
}
#newEvent input[type=submit] {
    grid-column: 2 / 3;
    border: none;
    padding: 1em;
    background-color: #ff5722;
    color: #fff;
}
#newEvent input[type=submit]:hover {
    cursor: pointer;
    background-color: #555;
}

#newEvent .required {
    color: #ff5722;
}

/** Settings **/

#settings {
    margin-top: 3em;
}
#settings fieldset {
    border: none;

    display: grid;
    grid-template-columns: 1fr 2fr;
}
#settings > * {
    margin-bottom: 2em;
}
#settings fieldset > * {
    margin-bottom: 1em;
}
#settings fieldset > label {
    justify-self: end;
    padding-right: 1em;
    
    font-size: 1.1em;
    font-weight: bold;
}
#settings fieldset > input {
    justify-self: start;
    padding-right: 1em;
}

#settings input[type=submit] {
    border: none;
    padding: 1em;
    margin-left: 1em;
    background-color: #ff5722;
    color: #fff;
}
#settings input[type=submit]:hover {
    cursor: pointer;
    background-color: #555;
}

/** Event detailed view **/

#event #infos {
    display: flex;
    justify-content: space-around;
    align-items: start;
}
#event #infos > * {
    width: 40%;
}
#travel h2 {
    margin-top: 0;
}

#event #infos #desc #time,
#event #infos #desc #location,
#event #infos #desc #mem {
    border-bottom: 1px solid rgba(85, 85, 85, 0.4);
}
#event #infos #desc #time p {
    margin: 0;
}
#event #infos #desc #membersNum {
    margin-bottom: 0;
}

#event svg{
    fill: #ff5722;
}
#event #infos #desc svg {
    background-color: #ebebeb;
}
#event #infos #desc svg:hover {
    cursor: pointer;
}

#event #infos #travel h2 {
    margin-bottom: 0;
}
#event #infos #travel h3 {
    margin-top: 0.5em;
    color: #555;
}
#event #infos #travel ul {
    padding: 0;
    list-style: none;
}
#event #infos #travel li {
    padding: 0.5em;
    width: 4em;
    margin: auto;
}
#event #infos #travel .preferred {
    background-color: rgba(103, 218, 255, 0.3);
}

/** Footer **/

footer {
    margin-top: 3em;
    padding: 2em;
    background-color: #555;
    color: #fff;
    text-align: center;
}

footer ul {
    padding: 0;
    list-style: none;
    justify-content: center;
    display: flex;
}

footer ul li:nth-child(2) {
    padding-right: 1.5em;
    padding-left: 1.5em;
}

footer ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15em;
    color: #fff;
    font-variant: small-caps;
    letter-spacing: 0.07em;
}
footer ul li a:hover {
    border-bottom: 3px solid #fff;
}

/** Responsive **/
.onlyMobile {
    display: none;
}
@media (max-width: 1000px) {
    /* event detailed view */
    #event #infos {
        flex-direction: column;
        align-items: center;
    }
    #event #infos > * {
        width: 90%;
    }
}
@media (max-width: 900px) {
    .noMobile {
	    display: none;
    }
    .onlyMobile {
        display: initial;
    }
    
    /* Calendar */
    #calendar {
	    margin-top: 0;
    }
    #calControls {
	    flex-direction: column;
    }
    #viewSwitch {
	    margin-top: 1em;
    }

    #calContainer .calGrid:last-child {
	    display: none;
    }
    #calContainer .calGrid:first-child div:nth-child(7) {
        border-right: none;
    }

    #week {
        grid-template-columns: 1fr;
    }
    #week > li:nth-child(6) {
        grid-row: 2 / 3;
    }
    #week > li:nth-child(7) {
        grid-row: 4 / 5;
    }
    #week > li:nth-child(8) {
        grid-row: 6 / 7;
    }
    #week > li:nth-child(9) {
        grid-row: 8 / 9;
    }
    #week > li:nth-child(10) {
        grid-row: 10 / 11;
    }

    /* events */
    .event {
        padding: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .desc, .members {
	    grid-column: 1 / 2;
    }
    .members {
	    margin-bottom: 0;
    }

    /* footer */
    footer {
	    margin-top: 1em;
    }
    footer ul {
	    flex-direction: column;
    }
}

@media (max-width: 600px) {
    header {
        padding-top: 2em;
    }

    .calGrid div:not(.dayIndicator) {
        padding: 0.4em;
    }

    #newEvent {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    #newEvent > * {
        width: inherit;
    }
    #newEvent input[type=time] {
        width: initial;
    }
    #newEvent label {
        margin-bottom: 0.8em;
    }
}